%ul.nav
  %li
    =link_to "Overview", "overview"
  %li
    =link_to "Getting Started", "getting_started"
  %li
    =link_to "iOS", "ios_sdk"
  %li
    =link_to "Android", "android_sdk"
  %li
    %a{href: '#'} Features
    %ul
      %li.nav
        %a{href: '#'} App Banners
      %li.nav
        %a{href: '#'} User Referrals
      %li.nav
        %a{href: '#'} Newsletters
    
