%ul.nav
  %li
    =link_to "Overview", "overview"
  %li
    =link_to "Get Started", "getting_started"
  %li
    =link_to "Technical Docs", "technical_documentation"
    %ul
      %li.nav
        =link_to "Shortcut SDK", "shortcut_sdk"
      %li.nav
        =link_to "Shortcut API", "shortcut_api"
      %li.nav
        =link_to "App Banners", "app_banners"
      %li.nav
        =link_to "Referrals", "referrals"

  %li
    =link_to "Your Tools for Improvement", "tools_improvement"

    %ul
      %li.nav
        =link_to "App Banners", "scen_app_banners"
      %li.nav
        =link_to "App Referrals", "scen_referrals"
      %li.nav
        =link_to "Auto Messaging", "scen_auto_msg"
      %li.nav
        =link_to "Newsletters", "scen_newsletter"
      %li.nav
        =link_to "Social Media", "scen_social_media"
      %li.nav
        =link_to "Beacons", "scen_beacon"
      %li.nav
        =link_to "Print", "scen_offline"
    
