%ul.nav
  %li
    =link_to "Overview", "overview"
  %li
    =link_to "Get Started", "getting_started"
  %li
    =link_to "Technical Docs", "technical_documentation"
    %ul
      %li.nav
        =link_to "Shortcut SDK", "ios_sdk#Installation"
      %li.nav
        =link_to "App Banners", "app_banners"
      %li.nav
        =link_to "Referrals", "referrals_ios"
  %li
    =link_to "Scenarios", "scenarios"

    %ul
      %li.nav
        =link_to "App Banners", "scen_app_banners"
      %li.nav
        =link_to "App Referrals", "scen_mobile_wom"
      %li.nav
        =link_to "Newsletters", "scen_newsletter"
      %li.nav
        =link_to "Social Media", "scen_social_media"
      %li.nav
        =link_to "Offline", "scen_offline"
    
