- content_for(:title) { 'Get started with Shortcut' }

- content_for(:meta_tags) do
  %meta{name: 'description', content: 'In 6 short steps you can get started with Shortcut.' }
  %meta{name: 'og:image', content: 'facebook-meta-get-started' }

%h1 Get Started
%p To get started, just follow these steps. You’ll be done in no time and can then enjoy all the Shortcut features. Every app is different so if you run into any difficulties along the way, please let us know.
%h2 1. Register with Shortcut
%p
  If you haven't already registered you can register with Shortcut
  %a{:href => "http://manager.shortcutmedia.com/users/sign_up here"} here.
%h2 2. Add your app to get your API key
%p Go to "My apps" and choose "Add new app". A pop up window opens and you will be able to name your app and add it for iOS, Android and Windows. When you hit "Add app" you will get your API key. You will always be able to find it again under "My Apps."
%img{src: image_url('add-new-app.png'), style: 'width: 300px;'}
%h2
  3. Make sure you have
  %a{:href => "http://blog.shortcut.sc/post/131750730118/what-is-mobile-deep-linking-watch-our-webinar", :name => "mobile_deep_linking"} mobile deep linking
  enabled in your app.
%p If you don’t have mobile deep linking enabled in your app, you can follow these instructions for the implementation.
%p
  %a{:href => "https://developer.apple.com/library/prerelease/ios/documentation/iPhone/Conceptual/iPhoneOSProgrammingGuide/Inter-AppCommunication/Inter-AppCommunication.html#//apple_ref/doc/uid/TP40007072-CH6-SW10"} iOS
  |
  %a{:href => "https://developers.google.com/app-indexing/android/app"} Android
%h2 4. Implement Shorcut’s SDK
%p
  We support iOS and Android, just follow our instructions
  %a{:href => "/shortcut_sdk"} here.
%h2 5. Implement Shortcut’s App Banners and Referrals
%p This is optional and only necessary in case you would like to use app banners to promote your app or make it possible for your users to share your in-app content.
%p
  %a{:href => "/app_banners"} App Banners
  |
  %a{:href => "/referrals"} Referrals
%h2 6. Start your first campaign with Shortcut!
%p
  Check out the
  %a{:href => "/tools_improvement"} use cases
  we’ve listed. In this section you will be able to get both instructions and inspiration for your app marketing campaigns.
%h2
  Have fun and let us know if you need any
  = succeed "!" do
    %a{:href => "mailto:support@shortcutmedia.com"} help