- content_for(:title) { 'Get started with Shortcut' }

- content_for(:meta_tags) do
  %meta{name: 'description', content: 'In 6 short steps you can get started with Shortcut.' }
  %meta{name: 'fb:app_id', content: '176995982338808'}
  %meta{name: 'og:title', content: 'Shortcut - The growth machine for your app'}
  %meta{name: 'og:url', content: 'hhttp://developer.shortcut.sc/documentation/getting_started'}
  %meta{name: 'og:site_name', content: 'Shortcut - Get started'}
  %meta{name: 'og:description', content: 'To get started, just follow these steps. You’ll be done in no time and can then enjoy all the Shortcut features. Every app is different so if you run into any difficulties along the way, please let us know.'}
  %meta{name: 'og:type', content: 'website'}
  %meta{name: 'og:image', content: image_url('shortcut-growth-engine-for-app-meta.png')}
  %meta{name: 'og:image:type', content: 'image/png'}
  %meta{name: 'og:image:width', content: '1200'}
  %meta{name: 'og:image:height', content: '630'}

%h1 Get Started
%p To get started, just follow these steps. You’ll be done in no time and can then enjoy all the Shortcut features. Every app is different so if you run into any difficulties along the way, please let us know.
%h2 1. Register with Shortcut
%p
  If you haven't already registered you can register with Shortcut
  %a{:href => "http://manager.shortcutmedia.com/users/sign_up here"} here.
%h2 2. Add your app to receive your API key
%p Enter the URL of your app. this will open a new window where you will be able to add different versions of your app if your app is available on e.g. iOS as well as Android. When you are done you are welcomed with the API key and instructions on how to install the Shortcut SDK on your app. You will always be able to find your API key in the Shortcut Manager under the "Admin" tab.
%h2
  3. Make sure you have
  %a{:href => "http://blog.shortcut.sc/post/131750730118/what-is-mobile-deep-linking-watch-our-webinar", :name => "mobile_deep_linking"} mobile deep linking
  enabled in your app.
%p If you don’t have mobile deep linking enabled in your app, you can follow these instructions for the implementation.
%p
  %a{:href => "https://developer.apple.com/library/prerelease/ios/documentation/iPhone/Conceptual/iPhoneOSProgrammingGuide/Inter-AppCommunication/Inter-AppCommunication.html#//apple_ref/doc/uid/TP40007072-CH6-SW10"} iOS
  |
  %a{:href => "https://developers.google.com/app-indexing/android/app"} Android
%h2 4. Implement Shorcut’s SDK
%p
  We support iOS and Android, just follow our instructions
  %a{:href => "/shortcut_sdk"} here.
%h2 5. Implement Shortcut’s App Banners, Referrals and API
%p These implementations are optional and only necessary in case you would like to e.g. use app banners to promote your app or make it possible for your users to share your in-app content. The API allows you to automatically create marketing links to use in e.g. newsletters.
%p
  %a{:href => "/app_banners"} App Banners
  |
  %a{:href => "/referrals"} Referrals
  |
  %a{:href => "/shortcut_api"} Shortcut API
  
%h2 6. Start your first campaign with Shortcut!
%p
  Check out the
  %a{:href => "/tools_improvement"} use cases
  we’ve listed. In this section you will be able to get both instructions and inspiration for your app marketing campaigns.
%h2
  Have fun and let us know if you need any
  = succeed "!" do
    %a{:href => "mailto:support@shortcutmedia.com"} help