<h1> Get Started </h1>
<p>To get started, just follow these steps. You’ll be done in no time and can then enjoy all the Shortcut features. Every app is different so if you run into any difficulties along the way, please let us know.</p>
<h2>1. Register with Shortcut</h2>
<p>If you haven't already registered you can register with Shortcut <a href="http://manager.shortcutmedia.com/users/sign_up here">here.</a></p>
<h2>2. Add your app to get your API key</h2>
<p>***PLACEHOLDER FOR HOW TO GET YOUR API KEY***</p>
<h2>3. Make sure you have <a name="mobile_deep_linking">mobile deep linking</a> enabled in your app.</h2>
<p>If you don’t have mobile deep linking enabled in your app, you can follow these instructions for the implementation.</p>
<p>iOS | Android</p>
<h2>4. Implement Shorcut’s SDK</h2>
<p>We support iOS and Android, just follow our instructions <a href="/ios_sdk">here.</a></p>
<h2>5. Implement Shortcut’s App Banners and Referrals</h2>
<p>This is optional and only necessary in case you would like to use app banners to promote your app or make it possible for your users to share your in-app content.</p>
<p><a href="/app_banners_ios">APP BANNERS</a> | <a href="/referrals_ios">REFERRALS</a></p>
<h2>6. Start your first campaign with Shortcut!</h2>
<p>Check out the <a href="/scenarios">use cases</a> we’ve listed. In this section you will be able to get both instructions and inspiration for your app marketing campaigns.</p>
<h2>Have fun and let us know if you need any <a href="mailto:support@shortcutmedia.com">help</a>!</h2>