<h1 style="text-align:left;">Overview</h1>
<p style="text-align:left;padding-bottom:0px;">Shortcut helps you reach your growth goals rapidly and get more users and increased retention for your app. For everything from app promotion and share functions to easy-to-understand analytics we’ve got you covered.</p>
<section class="blue no-bottom analytics">
<div class="container">
<div class="row">
<div class="col-sm-12">
</div>
</div>
</div>
<div class="row">
<div class="col-sm-6">
<h2 style="text-align:left;"><strong>Get Started</strong></h2>
<p style="text-align:left;padding-bottom:10px;">Getting started with Shortcut is easy. In a few minutes you will be up and running and one step closer to those business goals of yours.</p>
<p style="text-align:left;padding-bottom:20px;"><a href="/getting_started">GET STARTED NOW</a><p>
</div>
<div class="col-sm-6">
<h2 style="text-align:left;"><strong>Technical Documentation</strong></h2>
<p style="text-align:left;padding-bottom:10px;">Start by implementing the Shortcut SDK and top up your Shortcut set up with the optional App Banners and Referral functions.</p>
<p style="text-align:left;padding-bottom:20px;"><a href="/ios_sdk">SHORTCUT SDK</a> | <a href="/app_banners_ios">APP BANNERS</a> | <a href="/referrals_ios">REFERRALS</a><p>
</div>
</section>

<section class="blue no-bottom analytics">
<div class="container">
<div class="row">
<div class="col-sm-12">
</div>
</div>
</div>
<div class="row">
<div class="col-sm-6">
<h2 style="text-align:left;"><strong>Shortcut Scenarios</strong></h2>
<p style="text-align:left;padding-bottom:40px;">Get inspired and gather ideas on how you can get more users to your app and boost your user retention. We are your Shortcut to app growth and success.
</p>
</div>
<div class="col-sm-6">
<h2 style="text-align:left;"><strong>Contact Us</strong></h2>
<p style="text-align:left;padding-bottom:0px;"><a href="mailto:support@shortcutmedia.com">TECHNICAL SUPPORT</a>
<p style="text-align:left;padding-bottom:0px;">SUBSCRIBE TO OUR NEWSLETTER
<p style="text-align:left;padding-bottom:0px;"><a href="https://shortcut.sc/about.html">CONTACT INFORMATION</a></p>
</div>
</section>