- content_for(:title) { '' }

- content_for(:meta_tags) do
  %meta{name: 'description', content: 'Shortcut helps you  grow your app and increase app user retention. Try now!' }
  %meta{name: 'og:image', content: 'http://example.com/image.jpg' }


%h1{:style => "text-align:left;"} Overview
%p{:style => "text-align:left;padding-bottom:0px;"} Shortcut helps you reach your growth goals rapidly and get more users and increased retention for your app. For everything from app promotion and share functions to easy-to-understand analytics we’ve got you covered.
%section.blue.no-bottom.analytics
  .container
    .row
      .col-sm-12
%section
  .row
    .col-sm-6
      %h2{:style => "text-align:left;"}
        %strong Get Started
        %img{src: image_url('icon-get-started-dark.png'), style: 'height: 70px; float: left; margin-right: 1em;'}
      %p{:style => "text-align:left;padding-bottom:10px;"} Getting started with Shortcut is easy. In a few minutes you will be up and running and one step closer to those business goals of yours.
      %p{:style => "text-align:left;padding-bottom:20px;"}
        %a{:href => "/getting_started"} Get Started Now
      %p
    .col-sm-6
      %h2{:style => "text-align:left;"}
        %strong Technical Documentation
        %img{src: image_url('icon-technical-setup-dark.png'), style: 'height: 70px; float: left; margin-right: 1em;'}
      %p{:style => "text-align:left;padding-bottom:10px;"} Start by implementing the Shortcut SDK and then top up your Shortcut set up with the optional App Banners and Referral functions.
      %p{:style => "text-align:left;padding-bottom:0px;"}
        %a{:href => "/shortcut_sdk"} Shortcut SDK
        |
        %a{:href => "/referrals"} Referrals
      %p
        %a{:href => "/shortcut_api"} Shortcut API
        |
        %a{:href => "/app_banners"} App Banners
	
      %p
%section
  .row
    .col-sm-6
      %h2{:style => "text-align:left;"}
        %strong Growth Hacks
        %img{src: image_url('icon-tools-dark.png'), style: 'height: 70px; float: left; margin-right: 1em;'}
      %p{:style => "text-align:left;padding-bottom:10px;"} Get inspired and gather ideas on how you can get more users and grow your app. Make your app sticky and make it grow virally. We are your Shortcut to app growth and success.
      %p{:style => "text-align:left;padding-bottom:20px;"}
        %a{:href => "/tools_improvement"} Get Inspired
    .col-sm-6
      %h2{:style => "text-align:left;"}
        %strong Contact Us
        %img{src: image_url('icon-contact-dark.png'), style: 'height: 70px; float: left; margin-right: 1em;'}
      %p{:style => "text-align:left;padding-bottom:0px;"} We are looking forward to hearing from you!
      %p{:style => "text-align:left;padding-bottom:0px;"}
        %a{:href => "mailto:support@shortcutmedia.com"} Technical Support
      %p{:style => "text-align:left;padding-bottom:0px;"}
        %a{:href => "http://eepurl.com/oivLv"} Subscribe to our Newsletter
      %p{:style => "text-align:left;padding-bottom:0px;"}
        %a{:href => "https://shortcut.sc/about.html"} Contact Information
        
      :javascript
        // Include the UserVoice JavaScript SDK (only needed once on a page)
        UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/VYRkEYrGkZnUAQgqYrWiaQ.js';var    s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();
          // Set colors
          UserVoice.push(['set', {
            accent_color: '#448dd6',
            trigger_color: 'white',
            trigger_background_color: 'rgba(46, 49, 51, 0.6)'
          }]);
          UserVoice.push(['identify', {
        }]);

        // Add default trigger to the bottom-right corner of the window:
        UserVoice.push(['addTrigger', {mode: 'contact', trigger_position: 'bottom-right' }]);

        // Or, use your own custom trigger:
        //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

        // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
        UserVoice.push(['autoprompt', {}]);
