- content_for(:title) { 'App marketing with print advertising' }

- content_for(:meta_tags) do
  %meta{name: 'description', content: 'Promote your app with print advertising. Get on your customers mobile. Try now!' }
  %meta{name: 'fb:app_id', content: '176995982338808'}
  %meta{name: 'og:title', content: 'Shortcuts for offline advertising'}
  %meta{name: 'og:url', content: 'http://developer.shortcut.sc/documentation/scen_offline'}
  %meta{name: 'og:site_name', content: 'Shortcut - The growth machine for your app'}
  %meta{name: 'og:description', content: 'Your app users are out and about running errands, waiting for the train or at a restaurant. Wherever your users are, that’s where you should be as well.'}
  %meta{name: 'og:type', content: 'website'}
  %meta{name: 'og:image', content: image_url('shortcut-growth-engine-for-app-meta.png')}
  %meta{name: 'og:image:type', content: 'image/png'}
  %meta{name: 'og:image:width', content: '1200'}
  %meta{name: 'og:image:height', content: '630'}
  


%h1{:style => "text-align:left;"} Print Advertising
%p{:style => "text-align:left;padding-bottom:10px;"} Your app users are out and about running errands, waiting for the train or at a restaurant. Wherever your users are, that’s where you should be as well. Make the most of the expensive space in print ads and on billboards with QR codes and image recognition. Guide your potential customers that you meet offline into your app.
%section.blue.no-bottom.analytics
  .container
    .row
      .col-sm-12
  .row
    .col-sm-4
      %h3{:style => "text-align:center;"}
        %strong
          %a{:href => "/scen_offline#how_print"} How it Works
    .col-sm-4
      %h3{:style => "text-align:center;"}
        %strong
          %a{:href => "/scen_offline#benefits_print"} The Benefits You Get
    .col-sm-4
      %h3{:style => "text-align:center;"}
        %strong
          %a{:href => "/scen_offline#setup_print"} Setting It Up

%h2{:style => "text-align:left;"}
  %a{:name => "how_print"} How it works
%p{:style => "text-align:left;padding-bottom:10px;"} You should create short links for all your offline advertising. A QR code is assigned automatically to each short link you create. Another alternative is that you can attach an image to the short link in the Shortcut Manager.
%p These QR codes or images can be used in your offline advertising. When one of your customers scans the QR code or the image, the short link you created is activated. The short link detects if the user has your app installed or not and sends only the users that don’t have your app installed yet to the app store. The rest of the users are directed to your in-app content.
%h2{:style => "text-align:left;"}
  %a{:name => "benefits_print"} The benefits you get
%p{:style => "text-align:left;padding-bottom:0px;"} On flyers you hand out, on billboards or in newspaper ads you usually have a limited amount of space so you want to widen this space by telling your customers that there’s more information online. Instead of having three different calls to action ( “find more information on www.mycompany.com/summersale”, a button for “app available in App Store” and a separate button for “app available in Google Play store”. Shortcut makes it possible for you to have just one clear call to action.
%p Offline advertising also often require a big investment so you really want to track how well the ads worked so that you don’t mistakenly make the same investment again. Shortcut tracks every scan of the QR code and images so you will be able to follow these users’ journey and get insights into their location or how many of them actually downloaded the app, for example.
%h2{:style => "text-align:left;padding-bottom:10px;"}
  %a{:name => "setup_print"} Setting up Shortcut for your print communication
%h3{:style => "text-align:left;padding-bottom:0px;"} Technical Set up
%h4{:style => "text-align:left;"}
  1.
  %a{:href => "http://manager.shortcut.sc/users/sign_up here"} Register for Shortcut
  if you haven’t done so already
%h4{:style => "text-align:left;padding-bottom:20px;"}
  2. Enable
  %a{:href => "/getting_started#mobile_deep_linking"} mobile deep linking
  in your app
%h3{:style => "text-align:left;"} Set up Shortcut for print
%h4{:style => "text-align:left;"} 3. Paste your link to create a Shortcut
%h4{:style => "text-align:left;"} 4. A QR code is created automatically.
%p
  If you wish to use an image that your users can scan in order to be directed to your app you can upload an image under "image recognition".
%h4{:style => "text-align:left;padding-bottom:20px;"} 5. Implement your QR code or the scannable image in your offline communication material