<h1 style="text-align:left;">Shortcut Scenarios</h1>
<p style="text-align:left;padding-bottom:10px;">Let your inspiration flourish and read about all of the different ways you can use Shortcut to your advantage when moving towards your growth goals!</p>
<section class="blue no-bottom analytics">
<div class="container">
<div class="row">
<div class="col-sm-12">
</div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
<h2 style="text-align:center;"><strong>App Banners</strong></h2>
<p style="text-align:center;padding-bottom:10px;">Raise awareness and drive your users to your app from your mobile and desktop websites.</p>
<p style="text-align:center;padding-bottom:0px;"><a href="/scen_app_banners">READ MORE</a><p>
</div>
<div class="col-sm-4">
<h2 style="text-align:center;"><strong>App Referrals</strong></h2>
<p style="text-align:center;padding-bottom:10px;">Enable your users to share content they are excited about or to recommend your app and invite new users.</p>
<p style="text-align:center;padding-bottom:0px;"><a href="/scen_mobile_wom">READ MORE</a><p>
</div>
<div class="col-sm-4">
<h2 style="text-align:center;"><strong>Newsletters</strong></h2>
<p style="text-align:center;padding-bottom:10px;">Promote your in-app content in your newsletters to drive both new and retained users to your app.</p>
<p style="text-align:center;padding-bottom:0px;"><a href="/scen_newsletter">READ MORE</a><p>
</div>
</section>

<section class="blue no-bottom analytics">
<div class="container">
<div class="row">
<div class="col-sm-12">
</div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
<h2 style="text-align:center;"><strong>Social Media Campaigns</strong></h2>
<p style="text-align:center;padding-bottom:10px;">Share your in-app content in any social media channel to gain more users and to retain existing users.</p>
<p style="text-align:center;padding-bottom:0px;"><a href="/scen_social_media">READ MORE</a><p>
</div>
<div class="col-sm-4">
<h2 style="text-align:center;"><strong>Offline</strong></h2>
<p style="text-align:center;padding-bottom:10px;">Communicate with your offline customers through QR-codes, image recognition and iBeacons.</p>
<p style="text-align:center;padding-bottom:0px;"><a href="/scen_offline">READ MORE</a><p>
</div>
<div class="col-sm-4">
<h2 style="text-align:center;"><strong></strong></h2>
<p style="text-align:center;padding-bottom:10px;"></p>
<p style="text-align:center;padding-bottom:0px;"><p>
</div>

</section>