- content_for(:title) { 'Email marketing for apps' }

- content_for(:meta_tags) do
  %meta{name: 'description', content: 'Promote your app with app newsletters and email marketing. Try now!' }
  %meta{name: 'og:image', content: 'facebook-meta-growth-hacks.png' }

%h1{:style => "text-align:left;"} Newsletters
%p{:style => "text-align:left;padding-bottom:10px;"} It is said that most newsletter recipients will open your newsletter on a smartphone. Using Shortcuts in your newsletters will help you gain more app downloads through your newsletters as well as give your users a smoother user journey from when they click in your newsletter to when they land in your app.
%section.blue.no-bottom.analytics
  .container
    .row
      .col-sm-12
  .row
    .col-sm-4
      %h3{:style => "text-align:center;"}
        %strong
          %a{:href => "/scen_newsletter#how_it_works"} How it Works
    .col-sm-4
      %h3{:style => "text-align:center;"}
        %strong
          %a{:href => "/scen_newsletter#benefits"} The Benefits You Get
    .col-sm-4
      %h3{:style => "text-align:center;"}
        %strong
          %a{:href => "/scen_newsletter#set_up"} Setting It Up
%h2{:style => "text-align:left;"}
  %a{:name => "how_it_works"} How it works
%p{:style => "text-align:left;padding-bottom:10px;"} When you send out a newsletter you should use Shortcuts instead of ordinary links. Shortcuts detect if the users have your app installed on their smartphone. The users that don’t have your app installed will get directed via the app store to your in-app content. The users that already have your app installed will be sent directly to your in-app content. The fact that the user is always getting directed to the most suitable landing page depending on his smartphone settings makes the user journey very smooth and pleasant for your users.
%h2{:style => "text-align:left;"}
  %a{:name => "benefits"} The benefits you get
%p{:style => "text-align:left;padding-bottom:0px;"} When you use Shortcuts you will be able to track the users that click on your links in the Shortcut Manager. You will be able to see which link resulted in most app downloads and find out details about the users that clicked on your links.
%p Gone are the days where you have a button in your newsletter that says “download our app”. With Shortcut every one of your links can be directed to the app store and this automatically only for the users that don’t have your app installed yet.
%p You can promote your in-app content in your newsletter and thereby assure your newsletter recipients of that you have interesting quality content in your app before they download it. This opens so many doors to making your newsletter content more engaging and clickable.
%p With Shortcut you can direct the correct users to download your app. You will also be able to send more users to the app store than you used to be able to do. This is because you don’t only rely on the “download our app” button that only very determined app downloaders would click. You send a bigger selection of users to the app store and thereby also get more downloads.
%h2{:style => "text-align:left;padding-bottom:20px;"}
  %a{:name => "set_up"} Setting up Shortcut for your Newsletters
%h3{:style => "text-align:left;padding-bottom:0px;"} Technical Set up
%h4{:style => "text-align:left;"}
  1.
  %a{:href => "http://manager.shortcutmedia.com/users/sign_up here"} Register for Shortcut
  if you haven’t done so already
%h4{:style => "text-align:left;padding-bottom:20px;"}
  2. Enable
  %a{:href => "/getting_started#mobile_deep_linking"} mobile deep linking
  in your app
%h3{:style => "text-align:left;"} Set up Shortcut for a Newsletter
%h4{:style => "text-align:left;"} 3. Go to "My Shortcuts".
%h4{:style => "text-align:left;"} 4. Paste a link to your in-app content and click "Create Shortcut".
%p Because you have set up mobile deep linking for your app (step 2) you can paste a link from your website and Shortcut will automatically find the correct in-app content to link to.
%h4{:style => "text-align:left;"} 5. Use the generated Shortcut in your newsletter.
%p The Shortcut will direct your users to the app store or directly to your in-app content depending on if your users have your app installed on their smartphone or not.