<h1 style="text-align:left;">Mobile Word-Of-Mouth</h1>
<p style="text-align:left;padding-bottom:10px;">You know the feeling when you read something and you think of a friend. Maybe it’s a common joke you have or maybe you think your friend could be interested in what you are reading. Content sharing makes it simple and easy for your users to share pieces of content in your app with their friends and contacts.</p>
<section class="blue no-bottom analytics">
<div class="container">
<div class="row">
<div class="col-sm-12">
</div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
<h3 style="text-align:center;"><strong><a href="/scen_mobile_wom#how_it_works">How it Works</a></strong></h3>
</div>
<div class="col-sm-4">
<h3 style="text-align:center;"><strong><a href="/scen_mobile_wom#benefits">The Benefits You Get</a></strong></h3>
</div>
<div class="col-sm-4">
<h3 style="text-align:center;"><strong><a href="/scen_mobile_wom#set_up">Setting It Up</a></strong></h3>
</div>
</section>

<h2 style="text-align:left;"><a name="how_it_works">How it works</a></h2>
<p style="text-align:left;padding-bottom:10px;">When you have implemented the Referral code snippet to your app you will be able to activate the sharing function for different pieces of content in your app. The sharing function has all the sharing platforms that are being used by your users like for example, SMS, E-Mail, Facebook etc.</p>


<h2 style="text-align:left;"><a name="benefits">The benefits you get</a></h2>
<p style="text-align:left;padding-bottom:10px;">When one of your users shares your content, they are at the same time promoting or recommending your app to their friends. It’s a bit like a mobile word-of-mouth.</p> 
<p>Word of mouth is normally very hard to measure but with Shortcut every time someone shares your content, and thereby recommends your app to a friend, this gets recorded in the Shortcut Manager.</p>
<p>You can see which parts of your content is shared the most. This information you can then use to optimize your app and create more of the kind of content that your users like and share with their friends.</p>

<h2 style="text-align:left;padding-bottom:20px;"><a name="set_up">Setting up Shortcut for your Social Media Campaigns</a></h2>
<h3 style="text-align:left;padding-bottom:0px;">Technical Set up</h3>
<h4 style="text-align:left;">1. <a href="http://manager.shortcutmedia.com/users/sign_up here">Register for Shortcut</a> if you haven’t done so already</h4>
<h4 style="text-align:left;">2. Enable <a href="/getting_started#mobile_deep_linking">mobile deep linking</a> in your app</h4>
<h4 style="text-align:left;padding-bottom:20px;">3. Implement <a href="/referrals_ios">Referrals</a> in your app</h4>

<h3 style="text-align:left;">Set up Shortcut for Mobile Word-of-Mouth</h3>
<h4 style="text-align:left;">4. </h4>
<h4 style="text-align:left;">5. </h4>
<h4 style="text-align:left;padding-bottom:20px;">6. </h4>

<h3 style="text-align:left;">Analytics</h3>
<h4 style="text-align:left;">7. </h4>
<h4 style="text-align:left;padding-bottom:20px;">8. </h4>