%h1{:style => "text-align:left;"} Your Shortcut to App User Retention
%p{:style => "text-align:left;padding-bottom:10px;"} We have found a shortcut that will help you to imporve your app performance and your user retention rate. By carefully going through our three step program you will already see a tremendous boost. Improvement, however, is a continuous process and we will have tools to help you on every step on the way.
%section.blue.no-bottom.analytics
  .container
    .row
      .col-sm-12
  .row
    .col-sm-4
      %img{src: image_url('landingpage-measure2.png'), style: 'height: 100px; align: center; margin-right: 1em;'}
      %h2.noline{:style => "text-align:left; padding-top:23px;"}
        %strong 1. Measure
      %p{:style => "text-align:left;padding-bottom:10px;"} NEW TEXT NEEDED Raise awareness and drive your users to your app from your mobile and desktop websites.
    .col-sm-4
      %img{src: image_url('landingpage-analyze.png'), style: 'height: 120px; width: 250px; float: center; margin-right: 1em;'}
      %h2.noline{:style => "text-align:left; padding-top:0px;"}
        %strong 2. Analyze
      %p{:style => "text-align:left;padding-bottom:10px;"} NEW TEXT NEEDED Enable your users to share content they are excited about or to recommend your app and invite new users.
    .col-sm-4
      %img{src: image_url('landingpage-improve.png'), style: 'height: 100px; width: 250px; align: center; margin-right: 1em;'}
      %h2.noline{:style => "text-align:left; padding-top:20px;"}
        %strong 3. Improve
      %p{:style => "text-align:left;padding-bottom:10px;"} NEW TEXT NEEDED Promote your in-app content in your newsletters to drive both new and retained users to your app.
