- content_for(:title) { 'Social media for apps' }

- content_for(:meta_tags) do
  %meta{name: 'description', content: 'Reach organic growth by promoting your app in social media. Try now!' }
  %meta{name: 'fb:app_id', content: '176995982338808'}
  %meta{name: 'og:title', content: 'Social Media Campaigns'}
  %meta{name: 'og:url', content: 'http://developer.shortcut.sc/documentation/scen_social_media'}
  %meta{name: 'og:site_name', content: 'Shortcut - The growth machine for your app'}
  %meta{name: 'og:description', content: 'Social Media can be a very effective way to market your app. You can either post content or pay for ads. However, just saying “Download our app” is not very engaging; you want to talk about your in-app content and that way get more downloads from users that actually appreciate your content and will come back and revisit your app'}
  %meta{name: 'og:type', content: 'website'}
  %meta{name: 'og:image', content: image_url('shortcut-growth-engine-for-app-meta.png')}
  %meta{name: 'og:image:type', content: 'image/png'}
  %meta{name: 'og:image:width', content: '1200'}
  %meta{name: 'og:image:height', content: '630'}


%h1{:style => "text-align:left;"} Social Media Campaigns
%p{:style => "text-align:left;padding-bottom:10px;"} Social Media can be a very effective way to market your app. You can either post content or pay for ads. However, just saying “Download our app” is not very engaging; you want to talk about your in-app content and that way get more downloads from users that actually appreciate your content and will come back and revisit your app.
%section.blue.no-bottom.analytics
  .container
    .row
      .col-sm-12
  .row
    .col-sm-4
      %h3{:style => "text-align:center;"}
        %strong
          %a{:href => "/scen_social_media#how_it_works"} How it Works
    .col-sm-4
      %h3{:style => "text-align:center;"}
        %strong
          %a{:href => "/scen_social_media#benefits"} The Benefits You Get
    .col-sm-4
      %h3{:style => "text-align:center;"}
        %strong
          %a{:href => "/scen_social_media#set_up"} Setting It Up
%h2{:style => "text-align:left;"}
  %a{:name => "how_it_works"} How it works
%p{:style => "text-align:left;padding-bottom:10px;"} When you are setting up a social media campaign or sharing posts on social media you should use Shortcut to link to your in-app content. This way you can talk about your in-app content or a specific feature in your app and send people directly to this in-app content if they have your app installed already on their smartphone. With Shortcut only the users that don’t have your app installed will be forwarded to the app store before they can be directed to your in-app content.
%h2{:style => "text-align:left;"}
  %a{:name => "benefits"} The benefits you get
%p{:style => "text-align:left;padding-bottom:0px;"} Sharing a great feature with your followers has a greater chance to go viral than if you just tell your followers to download your app. The more specific your post is the more interesting it gets.
%p When you use Shortcut you will be able to direct your user to your in-app content that you are promoting instead of directing them to the frontpage of your app. Just like in any advertising this has a positive effect on your churn rate. You run less of a chance of confusing your customers and them just leaving before finding what it was you were promoting.
%p Every click on one of your short links is tracked in the Shortcut Manager. You will be able to get a lot of insights to where the users that came through your social media campaigns were located and through which channel they found you. Even information about which clicks led to a download of your app.
%h2{:style => "text-align:left;padding-bottom:20px;"}
  %a{:name => "set_up"} Setting up Shortcut for your Social Media Campaigns
%h3{:style => "text-align:left;padding-bottom:0px;"} Technical Set up
%h4{:style => "text-align:left;"}
  1.
  %a{:href => "http://manager.shortcut.sc/users/sign_up here"} Register for Shortcut
  if you haven’t done so already
%h4{:style => "text-align:left;padding-bottom:20px;"}
  2. Enable
  %a{:href => "/getting_started#mobile_deep_linking"} mobile deep linking
  in your app
%h3{:style => "text-align:left;"} Set up Shortcut for Social Media
%h4{:style => "text-align:left;"} 3. Go to "Short Links" under Marketing.
%h4{:style => "text-align:left;"} 4. Paste a link to your in-app content and click "Create Shortcut".
%p Because you have set up mobile deep linking for your app (step 2) you can paste a link from your website and Shortcut will automatically find the correct in-app content to link to.
%h4{:style => "text-align:left;"} 5. Use the generated Shortcut in your social media campaign.
%p The short link will direct your users to the app store or directly to your in-app content depending on if your users have your app installed on their smartphone or not.