%h1{:style => "text-align:left;"} Automatic Messaging
%p{:style => "text-align:left;padding-bottom:10px;"} Automatic messages are messages that you can send to your customers automatically from your app's backend. At Shortcut we make sure that these messages, whether they are push notifications or for example e-mail that they include deep links that will take the recipient of your message to the correct in-app content in your app.
%section.blue.no-bottom.analytics
  .container
    .row
      .col-sm-12
  .row
    .col-sm-4
      %h3{:style => "text-align:center;"}
        %strong
          %a{:href => "/scen_auto_msg#how_it_works"} How it Works
    .col-sm-4
      %h3{:style => "text-align:center;"}
        %strong
          %a{:href => "/scen_auto_msg#benefits"} The Benefits You Get
    .col-sm-4
      %h3{:style => "text-align:center;"}
        %strong
          %a{:href => "/scen_auto_msg#set_up"} Setting It Up
%h2{:style => "text-align:left;"}
  %a{:name => "how_it_works"} How it works
%p{:style => "text-align:left;padding-bottom:10px;"} By installing the Shortcut API you enable the functionality to create deep links for your automatic messages that go out from your app. Shortcut scrapes the meta data from your website for the link you add in Shortcut and thereby the system can automatically generate a deep link for each link that you add t your automatic message.
%h2{:style => "text-align:left;"}
  %a{:name => "benefits"} The benefits you get
%p{:style => "text-align:left;padding-bottom:0px;"} Automatic Messaging gives you a great opportunity to customize the messages that go out of your app to your customers. Let’s say you have an app where your users can rate and write comments about restaurants. You could for example send out automatic messages to your users telling them that someone they are following has written a new review for a restaurant in town. When the recipients get one of your automatic messages they are directed directly to the correct review.
%p Gone are the days where you have a button in your newsletter that says “download our app”. With Shortcut every one of your links can be directed to the app store and this automatically only for the users that don’t have your app installed yet.
%p If you send out automatic newsletters the shortcuts that are created detect whether your user is opening the newsletter on a desktop computer or on their smartphone. This creates a great user experience since the user is always directed to the correct content regardless of which device they happen to be using.
%p When a user gets directed into the content that they clicked on it is more likely for this user to be more engaged with the rest of your content as well. Your users will also have a more positive attitude towards your app and will therefore be more likely to re-engage with your app in the future.
%h2{:style => "text-align:left;padding-bottom:20px;"}
  %a{:name => "set_up"} Setting up Shortcut for your automatic messages
%h3{:style => "text-align:left;padding-bottom:0px;"} Technical Set up
%h4{:style => "text-align:left;"}
  1.
  %a{:href => "http://manager.shortcutmedia.com/users/sign_up here"} Register for Shortcut
  if you haven’t done so already
%h4{:style => "text-align:left;"}
  2. Enable
  %a{:href => "/getting_started#mobile_deep_linking"} mobile deep linking
  in your app
%h4{:style => "text-align:left;"}
  3. Add your app in the 
  %a{:href => "http://manager.shortcutmedia.com/"} Shortcut Manager
  to get your API token
%h4{:style => "text-align:left;"}
  4. Add the 
  %a{:href => "/shortuct_api"} Shortcut API
  to your app