- content_for(:title) { 'iBeacons advertising' }

- content_for(:meta_tags) do
  %meta{name: 'description', content: 'App user engagement with beacons marketing. Try now!' }
  %meta{name: 'og:image', content: 'facebook-meta-growth-hacks.png' }


%h1{:style => "text-align:left;"} Beacons
%p{:style => "text-align:left;padding-bottom:10px;"} Beacons are your ultimate tool for in-store and near-store communication. By placing iBeacons in your brick-and-mortar shop or in e.g. your restaurants you can communicate to the customers while they are in or in close proximity to your shop. This gives you the opportunity to upsell to your customers while they are shopping or make them aware of an exclusive offer that you have available for app users.

%section.blue.no-bottom.analytics
  .container
    .row
      .col-sm-12
      
  .row
    .col-sm-4
      %h3{:style => "text-align:center;"}
        %strong
          %a{:href => "/scen_offline#how_beacon"} How it Works
    .col-sm-4
      %h3{:style => "text-align:center;"}
        %strong
          %a{:href => "/scen_offline#benefits_beacon"} The Benefits You Get
    .col-sm-4
      %h3{:style => "text-align:center;"}
        %strong
          %a{:href => "/scen_offline#setup_beacon"} Setting It Up

%h2{:style => "text-align:left;"}
  %a{:name => "how_beacon"} How it works
%p{:style => "text-align:left;padding-bottom:10px;"} By combining iBeacons with your Shortcuts you can target your communication to customers that have your app installed and that are in or near your business location. You just need to configure your iBeacon with the UUID and the values and messages that you fill in the Shortcut Manager and you can start communicating to your in-store and near-store app users.
%h2{:style => "text-align:left;"}
  %a{:name => "benefits_beacon"} The benefits you get
%p{:style => "text-align:left;padding-bottom:0px;"} The benefits you can get from using Shortcuts in-store communication are countless. The main benefit is that you can engage your existing users to use your app in a way that is innovative and full of pleasant surprises that are convenient for your users.
%p You can communicate with the customers that are already in your store or nearby. With Shortcut you can make sure that your customers are aware of ongoing promotions.
%p If you have a retail app you might have collected some personal information about your customer. Let’s say you have a clothes store and in your app your customer has created their wishlist. WIth iBeacons you have your chance to remind your customer of that wishlist and at the same time let them know if you have any related promotions.
%p Maybe you have a restaurant or café chain and you want to surprise the customers. You could for example send a message to all your customers who have been sitting at your café for more than an hour and tell them that their next coffee is 50% off.
%p There are unlimited possibilities that, for example, a resort app or a shopping mall app could use Shortcut’s in-store communication for. Hotels could upsell and ask their guests if they would like to have room service or reserve a table at the hotel restaurant. A shopping mall app can help their stores advertise their promotions through the app.
%p If a customer is close to your store you can remind them of your existence. Make sure they don’t just pass by but that your customers pop in for a visit.
%p In a museum or an art gallery you could attach iBeacons to the artwork and send the app users audio recordings with more information about the artist. Or a city could have iBeacons at important monuments and buildings to tell tourists passing by the story behind them.
%h2{:style => "text-align:left;padding-bottom:10px;"}
  %a{:name => "setup_beacon"} Setting up Shortcut for iBeacons
%h3{:style => "text-align:left;padding-bottom:0px;"} Technical Set up
%h4{:style => "text-align:left;"}
  1.
  %a{:href => "http://manager.shortcutmedia.com/users/sign_up here"} Register for Shortcut
  if you haven’t done so already
%h4{:style => "text-align:left;padding-bottom:20px;"}
  2. Enable
  %a{:href => "/getting_started#mobile_deep_linking"} mobile deep linking
  in your app
%h3{:style => "text-align:left;"} Set up Shortcut for iBeacons
%h4{:style => "text-align:left;"} 3. Paste your link to create a Shortcut
%h4{:style => "text-align:left;"} 4. Go to iBeacons and choose "add Beacons"
%h4{:style => "text-align:left;"} 5. Click the the edit-button and fill in the details for your iBeacon