- content_for(:title) { 'Shortcut API' }

- content_for(:meta_tags) do
  %meta{name: 'description', content: 'Step by step instructions on how to install the Shortcut API' }
  %meta{name: 'fb:app_id', content: '176995982338808'}
  %meta{name: 'og:title', content: 'Shortcut - The growth machine for your app'}
  %meta{name: 'og:url', content: 'http://developer.shortcut.sc/documentation/shortcut_api'}
  %meta{name: 'og:site_name', content: 'Short Link API - Documentation'}
  %meta{name: 'og:description', content: 'The Short Link API allows you to create Shortcuts (short links with optional mobile deep links).'}
  %meta{name: 'og:type', content: 'website'}
  %meta{name: 'og:image', content: image_url('shortcut-growth-engine-for-app-meta.png')}
  %meta{name: 'og:image:type', content: 'image/png'}
  %meta{name: 'og:image:width', content: '1200'}
  %meta{name: 'og:image:height', content: '630'}


-text = File.read(Rails.root + "app/views/docs_pages/shortcut_api_readme.md")
~ raw markdown(text)
