- content_for(:title) { 'Shortcut SDK' }

- content_for(:meta_tags) do
  %meta{name: 'description', content: 'Step by step instructions on how to install the Shortcut SDK' }
  %meta{name: 'fb:app_id', content: '176995982338808'}
  %meta{name: 'og:title', content: 'Shortcut - The growth machine for your app'}
  %meta{name: 'og:url', content: 'http://developer.shortcut.sc/documentation/shortcut_sdk'}
  %meta{name: 'og:site_name', content: 'Shortcut SDK - Documentation'}
  %meta{name: 'og:description', content: 'Shortcut/'s SDK provides you with collection of statistics (app usage, deep links), support for deferred deep linking and creation of Shortcuts (short mobile deep links) to share from within your app.'}
  %meta{name: 'og:type', content: 'website'}
  %meta{name: 'og:image', content: image_url('shortcut-growth-engine-for-app-meta.png')}
  %meta{name: 'og:image:type', content: 'image/png'}
  %meta{name: 'og:image:width', content: '1200'}
  %meta{name: 'og:image:height', content: '630'}


.sdk_pills
  %ul.nav.nav-pills
    %li.active
      = link_to "iOS", "#ios_s", { "data-toggle" => "tab" }
    %li
      = link_to "Android", "#android_s", { "data-toggle" => "tab" }

  .tab-content
    .tab-pane.active#ios_s
      -text = File.read(Rails.root + "app/views/docs_pages/ios_readme.md")
      ~ raw markdown(text)

    .tab-pane#android_s
      -text = File.read(Rails.root + "app/views/docs_pages/android_readme.md")
      ~ raw markdown(text)

%script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
%script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")


