- content_for(:title) { 'How to market an app' }

- content_for(:meta_tags) do
  %meta{name: 'description', content: 'Learn how to market an app. Get new users and keep them too!' }
  %meta{name: 'og:image', content: 'http://example.com/image.jpg' }

%h1
  Technical Documentation
%section.blue.no-bottom.analytics
  .row
    .col-sm-4
      
      %h2{:style => "text-align:left;"}
        %strong 
          Shortcut SDK
        %img{src: image_url('icon-sdk.png'), style: 'height: 70px; float: left; margin-right: 1em;'}
      %p{:style => "text-align:left;padding-bottom:10px;"}
        Installing Shortcut's SDK will allow you to use most of Shortcut's features. You'll also be able to get deeper insights into your customer behaviour with Shortcut's analytics.
      %p{:style => "text-align:left;padding-bottom:20px;"}
        = link_to "GET STARTED", "/ios_sdk"

    .col-sm-4
      %h2{:style => "text-align:left;"}
        %img{src: image_url('icon-app-banners.png'), style: 'height: 70px; float: left; margin-right: 1em;'}
        %strong 
          App Banners
      %p{:style => "text-align:left;padding-bottom:10px;"}
        App banners are a great way so promote your app and drive more traffic to your app. You will be able to use Shortcut's App banners after installing the code snippet.
      %p{:style => "text-align:left;padding-bottom:20px;"}
        = link_to "GET STARTED", "/app_banners_ios"

    .col-sm-4
      %h2{:style => "text-align:left;"}
        %img{src: image_url('icon-referrals.png'), style: 'height: 70px; float: left; margin-right: 1em;'}
        %strong 
          Referrals
      %p{:style => "text-align:left;padding-bottom:10px;"}
        Your users are your best sales people. The Referral code snippet will allow your users to share and recommend your app and your app content to their friends.
      %p{:style => "text-align:left;padding-bottom:20px;"}
        = link_to "GET STARTED", "/referrals_ios"
