- content_for(:title) { 'How to market an app' }

- content_for(:meta_tags) do
  %meta{name: 'description', content: 'Learn how to market your app with Shortcut. How to get new users and how to keep them.' }
  %meta{name: 'og:image', content: 'http://example.com/image.jpg' }


%h1{:style => "text-align:left;"} Turn your app into a growth engine
%p{:style => "text-align:left;padding-bottom:10px;"} If you are starting out with your improvement process we recommend that you start with engaging your already existing users. When your users have been re-engaged with your app you should build a steady on-boarding experience and a pleasant user experience for any new users. When you have a good base in place you can start driving new traffic to your app.
%p{:style => "text-align:left;padding-bottom:10px;"} Every app is different and the needs for improvement are different. Whatever you need to do in order to improve your app performance we have the right tool for the job. Have a look through and get inspired!
%section.blue.no-bottom.analytics
  .container
    .row
      .col-sm-12
  .row
    .col-sm-4
      %h2{:style => "text-align:left;"}
        %strong Get Sticky
    .col-sm-4
      %h2{:style => "text-align:left;"}
        %strong Grow Virally
    .col-sm-4
      %h2{:style => "text-align:left;"}
        %strong Invest in Downloads

  .row
    .col-sm-4
      %h3{:style => "text-align:left;"}
        %img{src: image_url('icon-feature-deep-linking.png'), style: 'height: 100px; float: left; margin-right: 1em;'}
        %a{:href => "http://blog.shortcut.sc/post/131750730118/what-is-mobile-deep-linking-watch-our-webinar"} Deep Linking
      %p{:style => "text-align:left;padding-bottom:5px;"} Direct users to your in-app content.     
    .col-sm-4
      %h3{:style => "text-align:left;"}
        %img{src: image_url('icon-feature-referrals.png'), style: 'height: 100px; float: left; margin-right: 1em;'}
        %a{:href => "/scen_referrals"} Referrals
      %p{:style => "text-align:left;padding-bottom:5px;"} Your own users are your best sales people.
    .col-sm-4
      %h3{:style => "text-align:left;"}
        %img{src: image_url('icon-feature-offline.png'), style: 'height: 100px; float: left; margin-right: 1em;'}
        %a{:href => "/scen_offline"}  Offline
      %p{:style => "text-align:left;padding-bottom:5px;"} Raise awareness, drive users from ad to your app.     

  .row
    .col-sm-4
      %h3{:style => "text-align:left;"}
        %img{src: image_url('icon-feature-app-banner.png'), style: 'height: 100px; float: left; margin-right: 1em;'}
        %a{:href => "/scen_app_banners"} App Banners
      %p{:style => "text-align:left;padding-bottom:5px;"} Remind your mobile website users of your app.
    .col-sm-4
      %h3{:style => "text-align:left;"}
        %img{src: image_url('icon-feature-social-media.png'), style: 'height: 100px; float: left; margin-right: 1em;'}
        %a{:href => "/scen_social_media"}  Social Media
      %p{:style => "text-align:left;padding-bottom:5px;"} Promote your app content to drive more users.     

    .col-sm-4
      %h3{:style => "text-align:left;"}
        %img{src: image_url('icon-feature-newsletter.png'), style: 'height: 100px; float: left; margin-right: 1em;'}
        %a{:href => "/scen_newsletter"}  Newsletters
      %p{:style => "text-align:left;padding-bottom:5px;"} Send users to the page optimized for their device.     

  .row
    .col-sm-4
      %h3{:style => "text-align:left;"}
        %img{src: image_url('icon-feature-beacon.png'), style: 'height: 100px; float: left; margin-right: 1em;'}
        %a{:href => "/scen_beacon"} Beacons
      %p{:style => "text-align:left;padding-bottom:5px;"} Communicate with your in-store app users.     
    .col-sm-4
      %h3{:style => "text-align:left;"}
        %img{src: image_url('icon-feature-auto-msg.png'), style: 'height: 100px; float: left; margin-right: 1em;'}
        %a{:href => "/scen_auto_msg"}  Auto Messages
      %p{:style => "text-align:left;padding-bottom:5px;"} Re-engage with users through auto messages.

    .col-sm-4
      %h3{:style => "text-align:left;"}
        %img{src: image_url(''), style: 'height: 100px; float: left; margin-right: 1em;'}
        %a{:href => "/scen_newsletter"}  
      %p{:style => "text-align:left;padding-bottom:5px;"} 